<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="ConStr" connectionString="Data Source=120.138.10.194;Initial Catalog=CloudPub_MyStudyBooks;uid=sa;pwd=CQ*Eg$RavYD$4c;Connection Timeout=0;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <system.web.extensions>
    <scripting>
      <webServices>
        <jsonSerialization maxJsonLength="2147483647" />
      </webServices>
    </scripting>
  </system.web.extensions> 
  <appSettings>
    <add key="aspnet:UseLegacyEventValidationCompatibility" value="true"/>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None"/>
    <add key="companyID" value="415D5B67-7E73-42AC-A3A2-4E426CB746CD"/>
    <add key="Currency" value="Rupees"/>
    <add key="DefaultCountryCode" value=""/>
    <add key="CurrencySymbol" value="INR"/>
    <add key="AmountUptoDecimal" value="2"/>
    <add key="LocalPrice" value="Y"/>
    <add key="CompanyName" value="MyStudyBooks"/>
    <add key="UrlPath" value="http://localhost:29329/Customer/PayResponse.aspx"/> 
    <add key="MERCHANT_KEY" value="gYiGxM"/>
    <add key="MERCHANT_SALT" value="UillKrx3"/>
    <add key="AccessCode" value="QZg5@RgVfW-WVSN8"/> 
    <add key="WorkingKey" value="EF8D27393CBFFD5DB36B5DD3BCD25A0A"/>
    <add key="TestingMode" value="0"/>    <!--  Do 0 for live and 1 for test order  -->
    <add key="PAYU_BASE_URL" value="https://secure.payu.in/_payment"/>
    <add key="PAYU_VERIFY_URL" value="https://info.payu.in/merchant/postservice.php?form=2"/>
    <add key="PAYU_BASE_TEST_URL" value="https://test.payu.in/_payment"/>
    <add key="PayMode" value="ONLINE"/> 
    <add key="action" value=""/>
    <add key="hashSequence" value="key|txnid|amount|productinfo|firstname|email|udf1|udf2|udf3|udf4|udf5|udf6|udf7|udf8|udf9|udf10"/>
    <add key="ShipType" value="A"/>
    <add key="SMTP_EmailID" value="dalip@springtimesoftware.net"/>
    <add key="SMTP_BCCEmailID" value="dalip@springtimesoftware.net"/>
    <add key="SMTP_PASSWORD" value="$Dalip#123@"/>
    <add key="SMTP_HOSTNAME" value="smtp.gmail.com"/>
    <add key="SMTP_PORNO" value="587"/>
    <add key="SMTP_ENABLESSL" value="true"/>
    <add key="SITE_URL" value="https://mystudybooks.in"/>
    <add key="OrderUrlPath" value="https://mystudybooks.in/order_summary.aspx?orderid="/>
    <add key="ICompanyID" value="4"/>
    <add key="iBranchID" value="14"/>
    <!-- Ship Type A = 'Area Location Zonal', W = 'Weight wise Shipping Charges' --> 
      <add key="aspnet:MaxJsonDeserializerMembers" value="2147483647" />
    <add key="aspnet:UpdatePanelMaxScriptLength" value="2147483647" />
  </appSettings>
  <system.web>
    <sessionState timeout="10000"/>
    <authorization>
      <allow users="*"/>
      <deny users="*"/>
    </authorization>
    <webServices>
      <protocols>
        <add name="HttpGet"/>
        <add name="HttpPost"/>
      </protocols>
    </webServices>
    <authentication mode="None"/>
    <compilation strict="false" explicit="true" targetFramework="4.5" debug="true" batch="false">
      <assemblies>
        <add assembly="System.Net.Http, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Net.Http.WebRequest, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
      </assemblies>
    </compilation>
    <httpRuntime requestValidationMode="2.0"  maxRequestLength="1048576"/>
    <machineKey validationKey="22B384578E9CA46264707E49D2137AACB321DE6F48C893B9AEC8740E15FEC7695757D61CC7A08FBC98E09DE03F5B997ADD66F4AE71257D8916423A73AA7189CD" decryptionKey="480D8B245601DB592230C0C80A1EC462FA12E5A1ADE8155CDE998184C35DC3D9" validation="SHA1" decryption="AES"/>
    <pages>
      <namespaces>
        <add namespace="System"/>
        <add namespace="System.Collections"/>
        <add namespace="System.Collections.Generic"/>
        <add namespace="System.Collections.Specialized"/>
        <add namespace="System.Configuration"/>
        <add namespace="System.Text"/>
        <add namespace="System.Text.RegularExpressions"/>
        <add namespace="System.Linq"/>
        <add namespace="System.Xml.Linq"/>
        <add namespace="System.Web"/>
        <add namespace="System.Web.Caching"/>
        <add namespace="System.Web.SessionState"/>
        <add namespace="System.Web.Security"/>
        <add namespace="System.Web.Profile"/>
        <add namespace="System.Web.UI"/>
        <add namespace="System.Web.UI.WebControls"/>
        <add namespace="System.Web.UI.WebControls.WebParts"/>
        <add namespace="System.Web.UI.HtmlControls"/>
      </namespaces>
    </pages>
    
    <customErrors mode="Off"/>
    <trust level="Full"/>
    <httpHandlers>
      <add verb="GET" path="CaptchaImage.axd" type="MSCaptcha.CaptchaImageHandler, MSCaptcha"/>
      <add path="ChartImage.axd" type="Telerik.Web.UI.ChartHttpHandler" verb="*" validate="false"/>
      <add path="Telerik.Web.UI.WebResource.axd" type="Telerik.Web.UI.WebResource" verb="*" validate="false"/>
      <add path="Telerik.Web.UI.SpellCheckHandler.axd" type="Telerik.Web.UI.SpellCheckHandler" verb="*" validate="false"/>
      <add path="Telerik.Web.UI.DialogHandler.aspx" type="Telerik.Web.UI.DialogHandler" verb="*" validate="false"/>
      <add path="Telerik.RadUploadProgressHandler.ashx" type="Telerik.Web.UI.RadUploadProgressHandler" verb="*" validate="false"/>
      <add path="Telerik.Web.UI.DialogHandler.aspx" type="Telerik.Web.UI.DialogHandler" verb="*" validate="false"/>
      <add path="Telerik.Web.UI.SpellCheckHandler.axd" type="Telerik.Web.UI.SpellCheckHandler" verb="*" validate="false"/>
    </httpHandlers>
    <httpModules>
      <add name="RadCompression" type="Telerik.Web.UI.RadCompression"/>
    </httpModules>
  </system.web>
  <system.webServer>
    <httpProtocol>
      <customHeaders>
        <add name="Access-Control-Allow-Origin" value="*" />
      </customHeaders>
    </httpProtocol>
    
    <caching enabled="true" enableKernelCache="true">
      <profiles>
        <add extension=".html" policy="CacheUntilChange" kernelCachePolicy="CacheUntilChange"/>
        <add extension=".css" policy="CacheUntilChange" kernelCachePolicy="CacheUntilChange"/>
        <add extension=".js" policy="CacheUntilChange" kernelCachePolicy="CacheUntilChange"/>
        <add extension=".png" policy="CacheUntilChange" kernelCachePolicy="CacheUntilChange"/>
        <add extension=".jpg" policy="CacheUntilChange" kernelCachePolicy="CacheUntilChange"/>
        <add extension=".jpeg" policy="CacheUntilChange" kernelCachePolicy="CacheUntilChange"/>
      </profiles>
    </caching>
    <staticContent>
      <clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="90.00:00:00" />
      <mimeMap fileExtension=".webp" mimeType="image/webp" />
    </staticContent>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="1073741824"/>
      </requestFiltering>
    </security>
    <httpErrors errorMode="Detailed"/>
    <defaultDocument>
      <files>
        <add value="login.aspx"/>
        <add value="user_login.aspx"/>
        <add value="index.aspx"/>
      </files>
    </defaultDocument>
    <validation validateIntegratedModeConfiguration="false"/>
    <handlers>
      <add name="CaptchaImage" verb="GET" path="CaptchaImage.axd" type="MSCaptcha.CaptchaImageHandler, MSCaptcha"/>
      <add name="Telerik_Web_UI_DialogHandler_aspx" verb="*" preCondition="integratedMode" path="Telerik.Web.UI.DialogHandler.aspx" type="Telerik.Web.UI.DialogHandler"/>
      <add name="Telerik_Web_UI_SpellCheckHandler_axd" verb="*" preCondition="integratedMode" path="Telerik.Web.UI.SpellCheckHandler.axd" type="Telerik.Web.UI.SpellCheckHandler"/>
      <add name="Telerik_Web_UI_WebResource_axd" verb="*" preCondition="integratedMode" path="Telerik.Web.UI.WebResource.axd" type="Telerik.Web.UI.WebResource"/>
    </handlers>
    
    <httpCompression directory="%SystemDrive%\inetpub\temp\IIS Temporary Compressed Files">
      <scheme name="gzip" dll="%Windir%\system32\inetsrv\gzip.dll"/>
      <dynamicTypes>
        <add mimeType="text/*" enabled="true"/>
        <add mimeType="message/*" enabled="true"/>
        <add mimeType="application/javascript" enabled="true"/>
        <add mimeType="*/*" enabled="false"/>
      </dynamicTypes>
      <staticTypes>
        <add mimeType="text/*" enabled="true"/>
        <add mimeType="message/*" enabled="true"/>
        <add mimeType="application/javascript" enabled="true"/>
        <add mimeType="*/*" enabled="false"/>
      </staticTypes>
    </httpCompression>
    <urlCompression doStaticCompression="true" doDynamicCompression="true"/>

    <!--
<rewrite>
            <rules>
                <rule name="DCBooksLLC" stopProcessing="true">
                    <match url="(.*)" />
                    <conditions>
                        <add input="{HTTPS}" pattern="off" ignoreCase="true" />
                    </conditions>
                    <action type="Redirect" url="https://{HTTP_HOST}/{R:1}" redirectType="Permanent" />
                </rule>
            </rules>
            <outboundRules>
                <rule name="STS" enabled="true">
                    <match serverVariable="RESPONSE_Strict_Transport_Security"
                        pattern=".*" />
                    <conditions>
                        <add input="{HTTPS}" pattern="on" ignoreCase="true" />
                    </conditions>
                    <action type="Rewrite" value="max-age=31536000" />
                </rule>
            </outboundRules>
</rewrite>
 -->
    
  </system.webServer>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
      </serviceBehaviors>
    </behaviors> 
    <bindings>
          <basicHttpBinding>
            <binding maxBufferSize="2147483647" maxReceivedMessageSize="2147483647" maxBufferPoolSize="524288">
              <readerQuotas maxDepth="32" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
            </binding>
          </basicHttpBinding>
        </bindings>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true"/>
  </system.serviceModel>
</configuration>